In [1]:
import pandas as pd

In [10]:
x = pd.Series(['a', 'r', 'p', 'g', 'y'])
x

0    a
1    r
2    p
3    g
4    y
dtype: object

In [11]:
name = pd.Series(['Amrit', 'Ram', 'Prithvi', 'Garv', 'Yagyasi'])
name

0      Amrit
1        Ram
2    Prithvi
3       Garv
4    Yagyasi
dtype: object

In [15]:
data = pd.DataFrame({"Initials" : x, "Names" : name})
data

  Initials    Names
0        a    Amrit
1        r      Ram
2        p  Prithvi
3        g     Garv
4        y  Yagyasi

In [ ]:
df = pd.read_csv() # read the csv file

In [ ]:
df.describe() # Print summary statistics of the DataFrame

In [ ]:
df.info() # prints the info of the dataframe

In [ ]:
df.head() # display the first few rows of the dataframe

In [ ]:
df.tail() # print the last 5 rows of the dataframe

In [ ]:
df.loc() #

In [ ]:
df.hist() # histogram of the data